.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  perspective: 240px;

  background-color: #8b85a3;
  border-radius: .5rem;
  opacity: 25%;
  width: 15rem;
  height: 15rem;
}

.coin {  
  background-color: red;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: black;

  width: 150px;
  height: 150px;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@keyframes flip {
  0% {
    transform: rotate3d(0);
  }

  100% {
    transform: rotate3d(1, 0, 0, -180deg);
  }
}

@keyframes toss {
  0%    { transform: translateZ(0px); }
  50%   { transform: translateZ(150px); }
  100%  { transform: translateZ(0px); }
}